html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.content-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*
- *Typefaces:* `Roboto`, `Roboto Condensed`
- *Text sizes:* `3rem`, `1.5rem`
- *Banner maximum height:* `500px`
- *Banner content maximum width:* `45em`
*/

/*

.btn {
  display: inline-block;
  padding: .48em .9em;

  background-color: #333;
  border-radius: 8px;

  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}

.btn-big {
  font-size: 1.5rem;
}
*/
